<template>
  <span class="copiable-text">
    <span>{{ text }}</span>
    <button v-if="canCopy" @click="copy">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 34 42.5"
        x="0px"
        y="0px"
        aria-hidden="true"
        focusable="false"
      >
        <path
          d="M25.206 14.5V11c0-1.1-.9-2-2-2h-4.18c-.42-1.16-1.52-2-2.82-2-1.3 0-2.4.84-2.82 2h-4.18c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-3.5"
          fill="none"
          stroke="#000"
        />
        <path
          d="M16.206 9c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1z"
          fill="none"
          stroke="#000"
        />
        <path
          d="M19.206 23h-10v-2h10zM16.206 19h-7v-2h7zM19.206 15h-10v-2h10zM27.294 19.991h-4v3l-5-5 5-5v3h4z"
        />
      </svg>
      <span>Copier vers le presse-papier</span>
    <transition name="tooltip">
      <span v-if="copied" class="confirmation">Texte copié dans le presse-paper</span>
    </transition>

    </button>
  </span>
</template>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

export default {
  name: "CopiableText",
  props: {
    text: String
  },
  data: function() {
    return {
      canCopy: false,
      copied: false
    };
  },
  created: function() {
    this.canCopy = !!navigator.clipboard;
  },
  methods: {
    copy: async function() {
      await navigator.clipboard.writeText(this.text);
      this.copied = true;
      await this.$nextTick();
      await sleep(1000);
      this.copied = false;
    }
  }
};
</script>

<style scoped>
.copiable-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copiable-text > span {
    white-space: nowrap;
}

button {
    position: relative;
    display: flex;
    align-items: center;
}

button svg {
    width: 2em;
    height: 2em;
    margin: 0;
}

button span {
    display: inline-block;
}


.confirmation {
  position: absolute;
  display: block;
  background: rgb(224, 224, 0);
  border: solid 1px  rgb(128, 128, 0);
  top: -2em;
  width: 80%;
}
.tooltip-enter-active {
  transition: opacity 0.2s;
}
.tooltip-leave-active {
  transition: opacity 0.5s;
}
.tooltip-enter,
.tooltip-leave-to {
  opacity: 0;
}
</style>