<template>
  <span class="dice">
    <span v-for="(value, index) in dice" :key="index" :aria-label="value">{{ value in UNICODE_CHAR ? UNICODE_CHAR[value] : "⁇" }}</span>
  </span>
</template>

<script>
const UNICODE_CHAR = { 1: "⚀", 2: "⚁", 3: "⚂", 4: "⚃", 5: "⚄", 6: "⚅" };

export default {
  name: "Dice",
  props: {
    dice: String
  },
  created: function () {
    this.UNICODE_CHAR = UNICODE_CHAR;
  }
};
</script>

<style scoped>
</style>