<!-- Highly inspired by https://css-tricks.com/how-css-perspective-works/ -->
<template>
  <div class="container">
    <!-- We need two <div/> for the animation in order to use different
    timing functions for horizontal/vertical/rotation movements.-->
    <div
      ref="animation"
      class="horizontal"
      :class="[animation]"
      :style="{ '--hide-offset': hideOffset,
      '--x-rotation': xRotation,
      '--y-rotation': yRotation,
      '--animation-duration': animationDuration }"
    >
      <div class="vertical cube-container">
        <div class="cube">
          <div class="side one"></div>
          <div class="side six"></div>
          <div class="side five"></div>
          <div class="side two"></div>
          <div class="side four"></div>
          <div class="side three"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

export default {
  name: "Die",
  props: {
    initialValue: Number,
    indexInDice: Number
  },
  data: function() {
    return {
      value: this.initialValue,
      animation: "waiting",
      hideOffset: undefined,
      // This one will be assigned a random value on roll. It’s used when computed animation time to make die settle at a slightly different time, making it a bit more natural.
      randomizer: 1
    };
  },
  computed: {
    xRotation: function() {
      return {
        1: "0deg",
        2: "0deg",
        3: "90deg",
        4: "-90deg",
        5: "0deg",
        6: "0deg"
      }[this.value];
    },
    yRotation: function() {
      return {
        1: "0deg",
        2: "90deg",
        3: "90deg",
        4: "-90deg",
        5: "-90deg",
        6: "180deg"
      }[this.value];
    },
    animationDuration: function() {
      return `${Math.min(
        1.3,
        1 + 0.1 * this.indexInDice - 0.3 * this.randomizer
      )}s`;
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      const boundingClientRect = this.$refs.animation.getBoundingClientRect();
      this.hideOffset = `-${boundingClientRect.right}px`;
    });
  },
  methods: {
    roll: async function() {
      /* get proper random values */
      var array = new Uint8Array(2);
      window.crypto.getRandomValues(array);
      this.animation = "rolling";
      this.value = (array[0] % 6) + 1;
      this.randomizer = array[1] / 256;
      await this.$nextTick();
      await sleep(Number.parseFloat(this.animationDuration) * 1000);
      this.animation = undefined;
    }
  }
};
</script>

<style scoped>
/* The parent container, with perspective */
.container {
  --dice-size: 50px;
  perspective: calc(var(--dice-size) * 8);
  perspective-origin: top right;
  width: calc(var(--dice-size) * 2);
  height: calc(var(--dice-size) * 2);
}
.cube-container {
  perspective: calc(var(--dice-size) * 8);
  perspective-origin: top right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--dice-size) * 2);
  height: calc(var(--dice-size) * 2);
}
.horizontal,
.vertical,
.cube {
  animation-duration: var(--animation-duration);
}

/* The child element, with 3D tranforms preserved */
.cube {
  width: var(--dice-size);
  height: var(--dice-size);
  transform-style: preserve-3d;
  transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation));
}

/* The sides of the cube, absolutely positioned */
.side {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgba(255, 255, 240, 1);
  background-size: cover;
}

/* Background colors for the cube's sides to help visualize the work */
.one {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='3' fill='black' stroke='%23ffffff3f' stroke-width='1' /%3E%3C/svg%3E");
  transform: translateZ(calc(var(--dice-size) / 2));
}

.six {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cstyle%3Ecircle { fill: black; stroke: %23ffffff3f; stroke-width: 1px }%3C/style%3E%3Ccircle cx='8' cy='8' r='3' /%3E%3Ccircle cx='8' cy='16' r='3' /%3E%3Ccircle cx='8' cy='24' r='3' /%3E%3Ccircle cx='24' cy='8' r='3' /%3E%3Ccircle cx='24' cy='16' r='3' /%3EE%3Ccircle cx='24' cy='24' r='3' /%3E%3C/svg%3E");
  transform: translateZ(calc(0px - var(--dice-size) / 2));
}

.five {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cstyle%3Ecircle { fill: black; stroke: %23ffffff3f; stroke-width: 1px }%3C/style%3E%3Ccircle cx='8' cy='8' r='3' /%3E%3Ccircle cx='8' cy='24' r='3' /%3E%3Ccircle cx='16' cy='16' r='3' /%3E%3Ccircle cx='24' cy='8' r='3' /%3EE%3Ccircle cx='24' cy='24' r='3' /%3E%3C/svg%3E");
  transform: rotateY(90deg) translateZ(calc(var(--dice-size) / 2));
}

.two {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cstyle%3Ecircle { fill: black; stroke: %23ffffff3f; stroke-width: 1px }%3C/style%3E%3Ccircle cx='8' cy='8' r='3' /%3E%3Ccircle cx='24' cy='24' r='3' /%3E%3C/svg%3E");
  transform: rotateY(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.four {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cstyle%3Ecircle { fill: black; stroke: %23ffffff3f; stroke-width: 1px }%3C/style%3E%3Ccircle cx='8' cy='8' r='3' /%3E%3Ccircle cx='8' cy='24' r='3' /%3E%3Ccircle cx='24' cy='8' r='3' /%3EE%3Ccircle cx='24' cy='24' r='3' /%3E%3C/svg%3E");
  transform: rotateX(90deg) translateZ(calc(var(--dice-size) / 2));
}

.three {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cstyle%3Ecircle { fill: black; stroke: %23ffffff3f; stroke-width: 1px }%3C/style%3E%3Ccircle cx='8' cy='8' r='3' /%3E%3Ccircle cx='16' cy='16' r='3' /%3EE%3Ccircle cx='24' cy='24' r='3' /%3E%3C/svg%3E");
  transform: rotateX(-90deg) translateZ(calc(var(--dice-size) / 2));
}
.horizontal {
  transform-style: preserve-3d;
}
.waiting {
  transform: translateX(calc(var(--hide-offset) * 4))
    translateZ(calc(var(--hide-offset) * 1));
}
.rolling {
  animation-name: horizontal;
  animation-timing-function: linear;
}
@keyframes horizontal {
  0% {
    transform: translateX(calc(var(--hide-offset) * 4))
      translateZ(calc(var(--hide-offset) * 1));
  }
  20% {
    transform: translateX(calc(var(--hide-offset) * 1))
      translateZ(calc(var(--hide-offset) * 0.75));
  }
  40% {
    transform: translateX(calc(var(--hide-offset) * 0.5))
      translateZ(calc(var(--hide-offset) * 0.5));
  }
  60% {
    transform: translateX(calc(var(--hide-offset) * 0.25))
      translateZ(calc(var(--hide-offset) * 0.25));
  }
  80% {
    transform: translateX(0) translateZ(0);
  }
}

.waiting .vertical {
  transform: translateY(calc(0px - var(--dice-size) * 2));
}
.rolling .vertical {
  animation-name: vertical;
}
@keyframes vertical {
  0% {
    transform: translateY(calc(0px - var(--dice-size) * 2));
    animation-timing-function: ease-in;
  }
  33% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  66% {
    transform: translateY(calc(0px - var(--dice-size) * 0.5));
    animation-timing-function: ease-in;
  }
  /*  75% {
    transform:  translateY(translateY(calc(0px - var(--dice-size) * 1)));
    animation-timing-function: ease-in;
  } */
  80% {
    transform: translateY(0);
  }
}

.rolling .cube {
  animation-name: roll;
  animation-timing-function: linear;
}
@keyframes roll {
  0% {
    transform: rotate3d(-1, 0, 1, 0deg) rotateX(calc(var(--x-rotation)))
      rotateY(calc(var(--y-rotation))) rotateZ(0deg);
  }
  80% {
    transform: rotate3d(-1, 0, 1, 720deg) rotateX(calc(var(--x-rotation)))
      rotateY(calc(var(--y-rotation))) rotateZ(0deg);
  }
  85% {
    transform: rotate3d(-1, 0, 1, 720deg)
      rotateX(calc(var(--x-rotation) + 20deg)) rotateY(calc(var(--y-rotation)))
      rotateZ(0deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate3d(-1, 0, 1, 720deg) rotateX(calc(var(--x-rotation)))
      rotateY(calc(var(--y-rotation))) rotateZ(0deg);
  }
}
/* @keyframes roll {
  0% {
    transform: rotateY(0) rotateX(0deg) rotateZ(0deg);
  }
  20% {
    transform:
      rotateX(calc(var(--x-rotation) + 180deg))  rotateY(calc(var(--y-rotation) + 180deg)) rotateZ(0deg);
  }
  33% {
    transform: 
      rotateX(calc(var(--x-rotation) + 359deg)) rotateY(calc(var(--y-rotation) + 359deg)) rotateZ(0deg);
  }
  66% {
    transform: 
      rotateX(calc(var(--x-rotation) - 180deg))  rotateY(calc(var(--y-rotation) - 180deg)) rotateZ(0deg);
  }
  80% {
    transform: rotateX(var(x-rotation)) rotateY(var(--y-rotation)) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  90% {
    transform: 
      rotateX(calc(var(--x-rotation) - 20deg))  rotateY(calc(var(--y-rotation) + 20deg)) rotateZ(0deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotateX(var(x-rotation)) rotateY(var(--y-rotation)) rotateZ(0deg);
  }
} */
</style>