<template>
  <div class="passphrase">
    <ol>
      <Word v-for="(word, index) in words" :key="index" :word="word" ref="words" />
    </ol>
    <ul v-if="hasPassphrase" class="variants">
      <CopiableText :text="passphraseWithSpaces" />
      <CopiableText :text="passphraseWithDashes" />
      <CopiableText :text="passphraseWithDashesAndNumbers" />
    </ul>
  </div>
</template>

<script>
import CopiableText from "../components/CopiableText.vue";
import Word from "../components/Word.vue";

export default {
  name: "Passphrase",
  components: {
    CopiableText,
    Word
  },
  props: {
    words: Array
  },
  computed: {
    hasPassphrase: function() {
      return (
        this.words && this.words.every(w => w !== undefined && w.length > 0)
      );
    },
    passphraseWithSpaces: function() {
      if (!this.hasPassphrase) {
        return undefined;
      }
      return this.words.join(" ");
    },
    passphraseWithDashes: function() {
      if (!this.hasPassphrase) {
        return undefined;
      }
      return this.words.join("-");
    },
    passphraseWithDashesAndNumbers: function() {
      if (!this.hasPassphrase) {
        return undefined;
      }
      return this.words.map((w, i) => `${i + 1}${w}`).join("-");
    }
  }
};
</script>

<style scoped>
.passphrase {
  grid-area: passphrase;
  width: 100%;
}
.passphrase button {
  margin: 0 auto;
}

ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>