<template>
  <li class="word" :style="{ '--move-in-y': moveInY, '--move-in-x': moveInX }">
    <transition
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:after-enter="afterEnter"
    >
      <span ref="span" v-if="word">{{ word }}</span>
    </transition>
  </li>
</template>

<script>
export default {
  name: "Word",
  props: {
    word: String
  },
  data: function() {
    return {
      originalTop: undefined,
      originalLeft: undefined,
      moveInY: undefined,
      moveInX: undefined
    };
  },
  methods: {
    beforeEnter: function() {
      const {
        top,
        left
      } = this.$parent.$parent.$refs.wordlist.getSelectedWordCoordinates();
      this.originalTop = top;
      this.originalLeft = left;
    },
    enter: async function() {
      const boundingClientRect = this.$refs["span"].getBoundingClientRect();
      this.moveInY = `${this.originalTop - boundingClientRect.top}px`;
      this.moveInX = `${this.originalLeft - boundingClientRect.left}px`;
    },
    afterEnter: function() {
      this.originalTop = undefined;
      this.originalLeft = undefined;
      this.moveInY = undefined;
      this.moveInX = undefined;
    }
  }
};
</script>

<style scoped>
li {
  list-style: none;
}

.word {
  border: gray inset 2px;
  height: 2em;
  width: 15ch;
  margin: 1em;
  display: grid;
  align-items: center;
  justify-items: center;
}

.word span {
  display: block;
}

.v-enter {
}
.v-enter-active {
  z-index: 3;
  animation: move-in 1s;
}
.v-enter-to {
}

@keyframes move-in {
  0% {
    transform: translateY(var(--move-in-y)) translateX(var(--move-in-x));
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}
</style>