<template>
  <div class="wordlist">
    <div class="scroll-container">
      <dl
        :style="{ transform: `translateY(calc(var(--height) / 2 - var(--line-height) * 1.5 - ${currentOffset}px)` }"
      >
        <template v-for="(word, dice) in wordlist">
          <dt :key="dice" :ref="`dice-${dice}`">
            <dice :dice="dice" />
          </dt>
          <dd :key="word">{{ word }}</dd>
        </template>
      </dl>
    </div>
  </div>
</template>

<script>
import Dice from "../components/Dice.vue";

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

export default {
  name: "WordList",
  components: {
    Dice
  },
  props: {
    wordlist: Object
  },
  data: function() {
    return {
      currentDice: undefined
    };
  },
  computed: {
    selected: function() {
      return this.wordlist[this.currentDice];
    },
    currentOffset: function() {
      const el = this.$refs[`dice-${this.currentDice}`];
      return el && el.length && el.length > 0 ? el[0].offsetTop : undefined;
    }
  },
  methods: {
    focusOn: async function(dice) {
      const el = this.$refs[`dice-${dice}`];
      if (!el || !el.length || el.length < 1) {
        throw `Unable to find dice ${dice}`;
      }
      this.currentDice = dice;
      await this.$nextTick();
      await sleep(1500 /* same as in dl transition */);
    },
    getSelectedWordCoordinates: function() {
      const rect = this.$refs[
        `dice-${this.currentDice}`
      ][0].nextSibling.getBoundingClientRect();
      return { top: rect.top, left: rect.left };
    }
  }
};
</script>

<style scoped>
.wordlist {
  position: relative;
  --height: 15rem;
  --width: 20rem;
  --line-height: 1rem;
}
.wordlist::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--width);
  height: var(--height);

  /* calc(0.4 * var(--height) / var(--line-height)) */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 43%,
    rgba(255, 255, 255, 0) 47%,
    rgba(255, 255, 255, 0) 52%,
    rgba(255, 255, 255, 0.5) 56%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}
.wordlist > .scroll-container {
  max-height: var(--height);
  width: var(--width);
  overflow-y: hidden;
}
dl {
  line-height: var(--line-height);
  padding: calc(var(--height) / 2) 0;
  transition: transform ease-in-out 1s;
}
dt {
  font-family: monospace;
  clear: left;
  float: left;
  margin-right: 1em;
}
</style>