<template>
  <div id="app">
    <div class="actions">
      <button @click="createPassphrase()" :disabled="rolling">Générer une phrase de passe !</button>
    </div>
    <div class="roll-area">
      <template v-for="(_, index) in new Array(5)">
        <die :key="index" ref="dice" :initial-value="6" :index-in-dice="index" />
      </template>
    </div>
    <WordList ref="wordlist" :wordlist="wordlist" />
    <Passphrase :words="words" />
  </div>
</template>

<script>
import Die from "./components/Die.vue";
import Passphrase from "./components/Passphrase.vue";
import WordList from "./components/WordList.vue";
const wordlist = require("./wordlist_fr_5d.json");

export default {
  name: "App",
  components: {
    Die,
    Passphrase,
    WordList
  },
  data: function() {
    return {
      wordlist: wordlist,
      dice: "",
      words: Array(5).fill(undefined),
      rolling: false
    };
  },
  methods: {
    clearPassphrase: function() {
      for (let i = 0; i < this.words.length; i++) {
        this.$set(this.words, i, undefined);
      }
    },
    createPassphrase: async function() {
      this.rolling = true;
      this.clearPassphrase();
      await this.$nextTick();
      for (let i = 0; i < this.words.length; i++) {
        await Promise.all(this.$refs.dice.map(die => die.roll()));
        await this.$refs.wordlist.focusOn(
          this.$refs.dice.map(die => die.value).join("")
        );
        this.$set(this.words, i, this.$refs.wordlist.selected);
        // XXX: find better way to schedule this pause
        await new Promise(resolve => setTimeout(resolve, 2000));
        await this.$nextTick();
      }
      this.rolling = false;
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "actions     actions"
    "roll-area   wordlist"
    "passphrase  passphrase";
}

.actions {
  grid-area: actions;
}

.roll-area {
  grid-area: roll-area;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.wordlist {
  grid-area: wordlist;
}
</style>
